@define-color anaconda_color #20c997;
@define-color theme_selected_bg_color #00ffcc;
@define-color base_color #121212;
@define-color text_color #ffffff;

window, widget {
    background-color: @base_color;
    color: @text_color;
}

#sidebar {
    background-color: #1a1a1a;
    border-right: 1px solid #333;
}

progressbar trough {
    background-color: #333;
    border-radius: 4px;
}
progressbar progress {
    background-color: @anaconda_color;
    border-radius: 4px;
}

button {
    background-color: #222;
    border: 1px solid @anaconda_color;
    color: @text_color;
    padding: 8px 16px;
    border-radius: 5px;
}

button:hover {
    background-color: @anaconda_color;
    color: #000;
}

headerbar {
    background-color: #1a1a1a;
    border-bottom: 2px solid @anaconda_color;
}

label {
    color: #e0e0e0;
}